<title>Menu</title>

<link rel = "stylesheet" href="../css/menu.css">

<li class="cart">
    <ion-icon name="basket"></ion-icon>Cart = <span>0</span>
</li>

<div class="container">
    <div class="image">
        <a class="addCart addCart1" href="#">Add A</a>
        <a class="removeCart removeCart1" href="#">Remove A</a>
    </div>
    <div class="image">
        <a class="addCart addCart2" href="#">Add B</a>
        <a class="removeCart removeCart2" href="#">Remove B</a>
    </div>
</div>


<div class="products-container">
    <div  class="product-header">
        <h5 class="product-title">PRODUCT</h5>
        <h5 class="price">PRICE</h5>
        <h5 class="quantity">QUANTITY</h5>
        <h5  class="total">TOTAL</h5>
    </div>

    <div class="products">
    </div>


</div>

<h1>Snacks</h1>
<ul>
    {{#each snacks}}

        <li>
            <a href="/menu/food_id={{this._id}}">{{this.food_name}}</a>
            <p>price = {{this.price}}</p>
        </li>
        <div class="image">
            <a class="addCart" href="#">+</a>
            <a class="removeCart" href="#">-</a>
        </div>

    {{/each}}
</ul>

<h1>Drinks</h1>
<ul>
    {{#each drinks}}

        <li>
            <a href="/foods/{{this._id}}">{{this.food_name}}</a>
            <p>price = {{this.price}}</p>
        </li>
        <div class="image">
            <a class="addCart" href="#">+</a>
            <a class="removeCart" href="#">-</a>
        </div>

    {{/each}}
</ul>

<script src="../js/cart.js"></script>
