<section id="menuPage">
    <title>Menu</title>

    <link rel="stylesheet" href="../css/menu.css">

    <li class="cart">
        <ion-icon name="basket"></ion-icon>Cart = <span>0</span>
    </li>


    <div class="products-container">
        <div class="product-header">
            <h5 class="product-title">PRODUCT</h5>
            <h5 class="price">PRICE</h5>
            <h5 class="quantity">QUANTITY</h5>
            <h5 class="total">TOTAL</h5>
        </div>

        <div class="products">
        </div>


    </div>

<h1>Snacks</h1>
<ul>
    {{#each snacks}}
        <div class="image" id={{this._id}}>
        <li>
            <a href="/menu/food_id={{this._id}}">{{this.food_name}}</a>
            <p class="food_price" id="{{this.food_name}}">{{this.price}}</p>
            <button type="button" class="addCart">+</button>
            <button type="button" class="removeCart">-</button>
        </li>
        </div>

        {{/each}}
    </ul>

    <h1>Drinks</h1>
    <ul>
        {{#each drinks}}

        <div class="image" id={{this._id}}>
        <li>
            <a href="/menu/food_id={{this._id}}">{{this.food_name}}</a>
            <p class="food_price" id="{{this.food_name}}">{{this.price}}</p>
            <button type="button" class="addCart">+</button>
            <button type="button" class="removeCart">-</button>
        </li>
        </div>

        {{/each}}
    </ul>

    <button onclick="placeOrder()">Place Order</button>

    <script src="../js/cart.js"></script>


</section>