<section id="menu">
    <link rel="stylesheet" href="/customer/css/menu.css">
    <h3 class="cart">
        <ion-icon name="basket"></ion-icon>Cart: <span id="basket_span">0</span>
    </h3>

    <div class="products-container">
        <div class="product-header">
            <h5 class="product-title">PRODUCT</h5>
            <h5 class="price">PRICE</h5>
            <h5 class="quantity">QUANTITY</h5>
            <h5 class="total">TOTAL</h5>
        </div>

        <div class="products">
        </div>

    </div>

    {{#each food}}
        <div class="foodListing">
            <title>Menu: {{this.food_name}}</title>
            <img src="/customer/images/{{this.photo}}" alt="">
            <span class="foodname">{{this.foodName}}</span>
            <span class="description">description: {{this.description}}</span>
            <span class="food_price">${{this.price}}</span>
            <button type="button" class="addCart">+</button>
            <span class="quantity">0</span>
            <button type="button" class="removeCart">-</button>
        </div>
    {{/each}}

    <button onclick="placeOrder()">Place Order</button>

    <script src="/customer/js/cart.js"></script>

</section>