<section id="menu">
    <title>Menu</title>

    <link rel="stylesheet" href="/customer/css/menu.css">

    <h3 class="cart">
        <ion-icon name="basket"></ion-icon>Cart: <span id="basket_span">0</span>
    </h3>

    <div class="overlay" id="overlay">
        <div class="products-container">
            <div class="product-header">
                <h5 class="product-title">PRODUCT</h5>
                <h5 class="price">PRICE</h5>
                <h5 class="quantity">QUANTITY</h5>
                <h5 class="total">TOTAL</h5>
            </div>
            <div class="products">
            </div>
        </div>
    </div>

    <a href="/"><div class="icon"></div></a>

    <div class = "container">
        <h1 id="title">MENU</h1>

        {{!-- 大括号 --}}
        <div class="snacks">

            {{!-- snack圆形小图标 --}}
            <div id="subtitle1">
                <div id="snackicon-img"></div>
                <h2>Snacks</h2>
            </div>
            
            {{!-- snack item --}}
            {{#each snacks}}
                <div class="foodListing" id="{{this.food_id}}">
                    <a href="/customer/menu/{{this.tag}}">
                    <img src="/customer/images/{{this.photo}}" alt="{{this.foodName}}"></a>

                        <div id="food-detail">
                        <span class="foodname">{{this.foodName}}</span>
                        <span class="food_price" id="{{this.foodName}}">${{this.price}}</span>
                        <button type="button" class="addCart">+</button>
                        <span class="quantity">Q</span>
                        <button type="button" class="removeCart">-</button>
                        </div>

                </div>
            {{/each}}

        </div>



    <div class="drinks">
        
        <div id="subtitle2">
            <div id="drinkicon-img"></div>
            <h2>Drinks</h2>
        </div>

        {{#each drinks}}
            <div class="foodListing" id="{{this.food_id}}">
                <a href="/customer/menu/{{this.tag}}">
                <img src="../images/{{this.photo}}" alt="{{this.foodName}}"></a>

                <div id="food-detail">
                <span class="foodname">{{this.foodName}}</span>
                <span class="food_price" id="{{this.foodName}}">${{this.price}}</span>
                <button type="button" class="addCart">+</button>
                <span class="quantity">Q</span>                    
                <button type="button" class="removeCart">-</button>
                </div>

            </div>
        {{/each}}
    
    </div>


    <div class="Ordering">
        <button id="ordering-text" onclick="on()">View Cart</button>
        <button id="cartbutton"><img id="Cart-img" src="/customer/images/Shopping cartS.png"></button>
    </div>

    </div>

        <script src="/customer/js/cart.js"></script>


</section>