<section id="showOrder">
    

    <header>
        <h1> Order</a> </h1>        
    </header>
    <div class='preparingOrders' ></div>
        <p>preparing orders:</p>


        {{#each preparingOrders}}
       
        <li>
            <table class="orderTable">
                <tr>
                    <td>Order ID:</td><td>{{this._id}}</td>
                </tr>
				<tr>
                    <td>Details</td>
                    <td class="details">{{this.details}}</td>
                </tr>
                <tr>
                    <td>total amount:</td>
                    <td>{{this.total}}</td>
                </tr>
                <tr>
                    <td>Van Name:</td>
                    <td>{{this.vanId.vanName}}</td>
                </tr>
                <tr>
                    <td>Order Time:</td>
                    <td class="orderTime">{{this.updateTime}}</td>
                </tr>
                <tr>
                    <td>You can change the order in:</td>
                    <td class="timeStamp">{{this.timestamp.alterOrderLimit}}mins</td>
                </tr>
                <tr>
                    <td>Order will be completed in:</td>
                    <td class = "dicountTime">{{this.timestamp.discountAwardLimit}}mins</td>
                </tr>
                <tr>
                    <td>get 20% off after:</td>
                    <td class="timeRemaining"></td>
                </tr>
            </table>
        </li>
        {{/each}}
    </div>

    <div class='completed order'>
        completed orders:
        {{#each completedOrders}} 
         <li>
            <table class="completedOrderTable">
                <tr>
                    <td>Order ID:</td><td>{{this._id}}</td>
                </tr>
				<tr>
                    <td>Details</td>
                    <td class="details">{{this.details}}</td>
                </tr>
                <tr>
                    <td>total amount:</td>
                    <td>{{this.total}}</td>
                </tr>
                <tr>
                    <td>Van Name:</td>
                    <td>{{this.vanId.vanName}}</td>
                </tr>
                <tr>
                    <td>Order Time:</td>
                    <td class="orderTime">{{this.updateTime}}</td>
                </tr>
                
                <tr>
                    <td>get 20% off:</td>
                    <td>{{this.discount}}</td>
                </tr>
            </table>
        </li>
        {{/each}}
    </div>
    <script src="/customer/js/order.js"></script>
    
</section>


    
    