<section id="showOrder">
    <link rel="stylesheet" href="/customer/css/menu.css">

<div class = "container" id="orderContainer">
    <a class="profile" href="/customer/profile"><i class="fas fa-user-circle"></i></a>
    <a href="/customer"><div class="icon"></div></a>

    <h1 id="title">ORDER</h1>

        <div class="state">
            <button>preparing orders</button>
            <button>fulfilled orders</button>
        </div>   

    <div class='preparingOrders'>
        {{#each preparingOrders}}
                <table class="orderTable">
                    <tr>
                        <td class="orderID">Order ID: {{this._id}} ({{this.vanId.vanName}})</td>
                        <td class="timeRemaining"></td>
                    </tr>
                    <tr>
                        <td class="detail">{{this.details}}</td>
                        <td class="orderTime"><span class="thinfont">Order Time: </span>{{this.updateTime}}</td>
                    </tr>

                    <tr>
                        <td>Total: ${{this.total}}</td>
                        <td class="timeStamp"><span class="thinfont">Change Available for: </span>{{this.timestamp.alterOrderLimit}}mins</td>
                    </tr>
                    
                    <tr>
                        <td>Address Detail</td>
                        <td class="dicountTime">{{this.timestamp.discountAwardLimit}}mins <span class="thinfont">until order complete</span></td>
                    </tr>

                </table>

                <div class="line" id="lineOrder"></div>
        {{/each}}
    </div>
    

    <div class='completedorder'>
        {{#each completedOrders}}
            <table class="completedTable">
                <tr>
                    <td>Order ID:</td><td>{{this._id}}</td>
                </tr>
				<tr>
                    <td>Details</td>
                    <td class="detail">{{this.details}}</td>
                </tr>
                <tr>
                    <td>total amount:</td>
                    <td>{{this.total}}</td>
                </tr>
                <tr>
                    <td>Van Name:</td>
                    <td>{{this.vanId.vanName}}</td>
                </tr>
                <tr>
                    <td>Order Time:</td>
                    <td class="orderTime">{{this.orderTime}}</td>
                </tr>
                
                <tr>
                    <td>get 20% off:</td>
                    <td>{{this.discount}}</td>
                </tr>
            </table>
        {{/each}}
    </div>
    
    <script src="/customer/js/order.js"></script>
</div>
</section>
{{!-- 
    <div class = "container">
        <a class="profile" href="/customer/profile"><i class="fas fa-user-circle"></i></a>
        <h1 id="title">ORDER</h1>

        <div class="orderInfo">
            <div class="state">
                <span>preparing orders</span>
                <span>fulfilled orders</span>
            </div>

            <div class="preparing">
                <div class="tableLeft">
                    {{#each preparingOrders}}
                        <div class="tableRight">
                            <p>Order ID:</p>
                            <p>Details</p>
                            <p>total amount:</p>
                            <p>Van Name:</p>
                            <p>Order Time:</p>
                            <p>You can change the order in:</p>
                            <p>Order will be completed in:</p>
                        </div>

                        <div class="tableRight">     
                            <p>{{this._id}}</p>
                            <p class="details">{{this.details}}</p>
                            <p>{{this.total}}</p>
                            <p>{{this.vanId.vanName}}</p>
                            <p class="orderTime">{{this.updateTime}}</p>
                            <p class="timeStamp">{{this.timestamp.alterOrderLimit}}mins</p>
                            <p class="dicountTime">{{this.timestamp.discountAwardLimit}}mins</p>
                            <p class="timeRemaining"></p>
                        </div>

                        <div class="line"></div>                            

                    {{/each}}
                </div>

            </div>

            <div class="completed">
                <div class="tableLeft">
                    {{#each completedOrders}}
                            <p>Order ID:</p>
                            <p>Details</p>
                            <p>total amount:</p>
                            <p>Van Name:</p>
                            <p>Order Time:</p>
                            <p>get 20% off:</p>
                            <div class="line"></div>
                    {{/each}}
                </div>

                <div class="tableRight">        
                    {{#each completedOrders}}
                            <p>{{this._id}}</p>
                            <p class="details">{{this.details}}</p>
                            <p>{{this.total}}</p>
                            <p>{{this.vanId.vanName}}</p>
                            <p class="orderTime">{{this.updateTime}}</p>
                            <p>{{this.discount}}</p>
                            <div class="line"></div>
                    {{/each}}
                </div>

            </div>

        </div>

    </div> --}}
    
    