<section id="showOrder">
    

    <header>
        <h1> Order</a> </h1>        
    </header>
    <div class='fulfilled order' ></div>
        <p>fulfilled orders:</p>


        {{#each fulfilledOrders}}
       
        <li>
            <table>
                <tr><td>Order ID:</td><td>{{this._id}}</td></tr>
				<tr><td>Details</td><td class = "details">{{this.details}}</td></tr>
                <tr><td>total amount:</td><td>{{this.total}}</td></tr> 
                <tr><td>Van Name:</td><td>{{this.vanId.vanName}}</td></tr>
                <tr><td>Order Time:</td><td>{{this.orderTime}}</td></tr>
                <tr>
				<div class = "remainTime"  time = "{{this.updateTime}}"><td>time remaining</td><td id = "remaining">{{this.updateTime}}</td></div>
                </tr>
                <tr>
				<td><button id="button_detail" name="button_detail" onclick="remainingTime({{this.updateTime}})">Time</button></td><td id = "time"></td>
                </tr>
            </table>
        </li>
        {{/each}}
    </div>

    <div class='completed order'>
        completed orders:
        {{#each completedOrders}} 
        <ul>
            <table>
                <tr><td>Order ID:</td><td>{{this._id}}</td></tr>
                <tr>
				<td><button id="button_detail" name="button_detail" onclick="showDetails({{this.details}})">Details</button></td><td id = "details"></td>
                </tr>
                <tr><td>total amount:</td><td>{{this.total}}</td></tr> 
                <tr><td>Van Name:</td><td>{{this.vanId.vanName}}</td></tr>
                <tr><td>Order Time:</td><td>{{this.orderTime}}</td></tr>
            </table>
        </ul>
        {{/each}}
    </div>
    <script src="/customer/js/order.js"></script>
    
</section>


    
    